#container {
    min-width: 310px;
    width: 80%;
    height: 350px;
    margin: 0 auto;
}

#control {
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 25px;
}

#time {
    width: 60%;
    height: 100px;
    margin: auto;
    margin-top: -30px;
}
